.filename {
  vertical-align: center;
  padding: 8px;
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(215, 215, 215, 1);
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete-icon {
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  background-color: rgba(215, 215, 215, 1);
  border-radius: 0px 5px 5px 0px;
}
